img.grey-hover {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  opacity:.5;
}

/* Disable grayscale on hover */
img.grey-hover:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  opacity:1;
}

.spacer-double {
	width: 100%;
	height: 60px;
	display: block;
	clear: both;
}

.spacer-single {
	width: 100%;
	height: 30px;
	display: block;
	clear: both;
}
